# Comments *must* begin in the first column
# pluginname munin-filename ys-pathname [findlabel]

# cpu usage
# cpu-idle-d.rrd
cpu          cpu-(.*)-d			cpu/$1

# entropy
# entropy-entropy-g.rrd
entropy      entropy-entropy-g		entropy/entropy

# file system usage
# df-_dev_mapper_stone_home-g.rrd
df           df-(.*)-g			df/$1

# fork rate
# forks-forks-d.rrd
forks        forks-forks-d		forks/forks

# inode usage
# df_inode-_dev_mapper_stone_home-g.rrd
df_inode     df_inode-(.*)-g		df_inode/$1

# interrupts
# interrupts-ctx-d.rrd
interrupts    interrupts-(.*)-d		interrupts/$1

# irqstats
irqstats      irqstats-(.*)-d		irqstats/$1		findlabel

# iostat
# load averages
# memory usage
# netstat
# network
# network errors
# number of processes
# raffic
# swap
# vmstat
# 




