# A list of strings which correspond to stats we want to pull out of webct_monitory.log and graph
# Every line gets ^ pre-pended to it and we assume a single number appears in the file after each string
# Comments are lines that begin with #
# We also assume no strings have pipe characters (|) in them :)
http_open|GAUGE|Http Session:  Current number of open sessions:
http_total|COUNTER|Http Session:  Total number of sessions opened:
# Only on JMS nodes (*va3)
#odmz_event|GAUGE|Database:  Number of rows in table odmz_event:
chat_rooms|GAUGE|ChatWB:  Number of active rooms:
chat_users|GAUGE|ChatWB:  Current number of concurrent users:
chat_msgs|GAUGE|ChatWB:  Current number of messages:
chat_chatwb_users|GAUGE|ChatWB:  Current number of users using ChatWB:
ifs_users|GAUGE|IFS Context:  Current number of user sessions in IFS Context cache:
ifs_libs|GAUGE|IFS Context:  Current number of IFS LibrarySessions in IFS Context cache:
# Round 2:
db_con|GAUGE|Database:  Current number of active connections:
jms_cc|GAUGE|JMS:  Current connection count to this Server
heap_bytes|GAUGE|JVM Monitor:  Available memory in heap (bytes):
scount|GAUGE|Vista Application:  Current total number of alive servers in this cluster:
