# Comments must start with # in the first column

# Format:
# PLUGIN: THING-TO-IGNORE
# 
# Note that THING-TO-IGNORE is a Perl REGEXP.  It is anrchored by ^
# That is, the comparison looks like this:
# $thing =~ /^$regexp/

# Tell io plugin to ignore c0t0d0s0
io: c0t0d0s0

# The 2.1+ io plugin has a special feature since it collects so many stats
# about each LV/partition/whatever.  You can tell it to ignore certain
# *stats*, not just devices.  For example, tell it to ignore tps stats:
io: tps

# Ignore vmnet0 interface
net: vmnet0

# disk ignores were added in 2.1
# Ignore /scratch filesystem
disk: /scratch

# Ignore any filesystem which starts with /BCV
disk: /BCV

# Ignore a filesystem with a short name that might match a longer filesystem
disk: /us$

# Ignore multiple filesystems:
disk: /scratch|^/scritch

# Ignore a type of TCP socket:
net_sockets: ESTABLISHED
