# $econfig{$host}{$oid}{$name}{'path'} = $path
# $econfig{$host}{$oid}{$name}{'community'} = $community
# {'community'} is optional; otherwise use $community.

my $host = 'leibert-ups.example.com';
my $base_oid = '.1.3.6.1.4.1.476.1.1.1.1';
our $econfig_community = 'SuperSecret';

$econfig{$host}{"$base_oid.2.1.0"}{'path'} = 'BatTimeRemaining/BatTimeRemaining';
$econfig{$host}{"$base_oid.2.3.0"}{'path'} = 'BatVoltage/BatVoltage';
$econfig{$host}{"$base_oid.2.4.0"}{'path'} = 'BatCurrent/BatCurrent';
$econfig{$host}{"$base_oid.2.6.0"}{'path'} = 'BatCapacity/BatCapacity';
$econfig{$host}{"$base_oid.2.7.0"}{'path'} = 'BatTotalDischCounts/BatTotalDischCounts';
$econfig{$host}{"$base_oid.2.8.0"}{'path'} = 'BatCycleDurationInSeconds/BatCycleDurationInSeconds';
$econfig{$host}{"$base_oid.2.9.0"}{'path'} = 'BatAmpHours/BatAmpHours';
$econfig{$host}{"$base_oid.2.10.0"}{'path'} = 'BatKWhours/BatKWhours';
$econfig{$host}{"$base_oid.3.6.1.2.1"}{'path'} = 'InputVoltage/line1';
$econfig{$host}{"$base_oid.3.6.1.2.2"}{'path'} = 'InputVoltage/line2';
$econfig{$host}{"$base_oid.3.6.1.2.3"}{'path'} = 'InputVoltage/line3';
$econfig{$host}{"$base_oid.3.6.1.3.1"}{'path'} = 'InputCurrent/line1';
$econfig{$host}{"$base_oid.3.6.1.3.2"}{'path'} = 'InputCurrent/line2';
$econfig{$host}{"$base_oid.3.6.1.3.3"}{'path'} = 'InputCurrent/line3';
$econfig{$host}{"$base_oid.4.2.0"}{'path'} = 'OutputLoad/OutputLoad';
$econfig{$host}{"$base_oid.4.4.1.2.1"}{'path'} = 'OutputVoltage/line1';
$econfig{$host}{"$base_oid.4.4.1.2.2"}{'path'} = 'OutputVoltage/line2';
$econfig{$host}{"$base_oid.4.4.1.2.3"}{'path'} = 'OutputVoltage/line3';
$econfig{$host}{"$base_oid.4.4.1.3.1"}{'path'} = 'OutputCurrent/line1';
$econfig{$host}{"$base_oid.4.4.1.3.2"}{'path'} = 'OutputCurrent/line2';
$econfig{$host}{"$base_oid.4.4.1.3.3"}{'path'} = 'OutputCurrent/line3';
$econfig{$host}{"$base_oid.4.5.0  "}{'path'} = 'OutputWatts/OutputWatts';
$econfig{$host}{"$base_oid.6.1.0"}{'path'} = 'Alarms/Alarms';
$econfig{$host}{"$base_oid.9.1.0"}{'path'} = 'NominalOutputVoltage/NominalOutputVoltage';
$econfig{$host}{"$base_oid.9.2.0"}{'path'} = 'NominalInputVoltage/NominalInputVoltage';
$econfig{$host}{"$base_oid.9.7.0"}{'path'} = 'NominalOutputVaRating/NominalInputVoltage';
$econfig{$host}{"$base_oid.9.8.0"}{'path'} = 'NominalOutputWattsRating/NominalInputVoltage';
$econfig{$host}{"$base_oid.13.1.0"}{'path'} = 'OnBypass/OnBypass';
$econfig{$host}{"$base_oid.13.4.1.2.1"}{'path'} = 'BypassVoltage/line1';
$econfig{$host}{"$base_oid.13.4.1.2.2"}{'path'} = 'BypassVoltage/line2';
$econfig{$host}{"$base_oid.13.4.1.2.3"}{'path'} = 'BypassVoltage/line3';
$econfig{$host}{"$base_oid.13.4.1.3.1"}{'path'} = 'BypassCurrent/line1';
$econfig{$host}{"$base_oid.13.4.1.3.2"}{'path'} = 'BypassCurrent/line2';
$econfig{$host}{"$base_oid.13.4.1.3.3"}{'path'} = 'BypassCurrent/line3';
